*{
    box-sizing: border-box;
    
}
.container {
    width: 100%;
    height: auto;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    background-color: #f85160;
}
#sub-nav{
    display: flex;
    width: 350px;
    justify-content: space-evenly;
    
}
#sub-nav input{
    height: 30px;
    border-radius: 12px;
}
#search-icon i{
    font-size: 30px;
}

#slideshow-wrapper {
    width: 100%;
    height: 450px;
    margin:30px auto;
  }
  
  #slideshow {
    margin-bottom: 5px;
    width: 100%;
    height: 450px;
    overflow: hidden;
    white-space: nowrap;
  }
  
  #slideshow img {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .circle-div{
    background-color: black;
  }
  
  .circle {
    margin-right: 15px;
    display: inline-block;
    background-color: lightgrey;
    width: 12px;
    height: 12px;
    border-radius: 50px;
  }

.main-section {
    display: flex;
    justify-content: space-between;
    background-color: brown;
    height: 80vh;
}
.genre{
    width: 200px;
    background-color: #111;
    
}
.genre .list i{
    color: yellow;
    font-size: 25px;
}
.genre .list{
    color: blue;
    font-size: large;
    padding-bottom: 20px;
    padding-top: 5px;
}
.genre a{
    text-decoration: none;
    display: block;
    text-align: center;
}

.genre a:hover{
    color: red;
}
.preview {
    width: 100%;
    padding: 20px;
}
.preview .card-container{
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}
.preview .card-container .card{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 30%;
    border: 1px solid #ddd;
    height: 200px;
}
.card img {
    width: 150px;
    height: 150px;
}
.caption{
    
}
.ads{
    width: 200px;
    background-color: black;
}

.footer{
    background-color: #f85160;
    height: 100px;
    width: 100%;
}
.footer small{
    padding-left: 20px;
}
.media{
    font-size: 25px;
   padding-left: 800px;
}



